<div class="bookListing">
  <div class="listing-icon">
    <i class="fas fa-book"></i>
  </div>
  <div class="listing-content">
    <div class="listing-text">
      <p class="book-title content-text">Book Title: {{bookTitle}}</p>
      <p class="book-class content-text">Class: {{bookClass}}</p>
      <p class="book-description content-text">Class: {{bookDescription}}</p>
      <!-- API CONTENT HERE -->
    </div>
  </div>
</div>
