<div class="bookRequest">
  <div class="listing-icon">
    <i class="fas fa-book"></i>
  </div>
  <div class="listing-content">
    <div class="listing-text">
      <p class="book-title content-text">Book Title: {{bookTitle}}</p>
      <p class="book-class content-text">Class: {{bookClass}}</p>
      <p class="contact content-text">Contact: {{contact}}</p>
    </div>
    <img class="book-img" src="{{url}}" />
  </div>
</div>
