<!DOCTYPE html>
<html>

    <head>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" media="screen">        

    </head>

    <body>

        <header class="topBar"> 
            
            <div class="titleBar"><i class="fas fa-book"></i> Site Title </div>
            <nav class="navBar">
                <ul class="nav"><li class="navItem">
                    <input type="text" placeholder="Search...">
                    <button type="button" class="navButton searchBooks"><i class="fas fa-search"></i></button>
                </li>
                <li class="navItem"><button class="navButton addBook"><i class="fas fa-plus"></i></button></li>
                <li class="navItem"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                
            </nav>

        </header>

        {{{body}}}

    </body>

</html>