<!DOCTYPE html>
<html>

    <head>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" media="screen">        

    </head>

    <body>

        <header class="topBar"> 
            
            <div class="titleBar"><i class="fas fa-book"></i> Site Title </div>
            <div class="accessBar">add stuff here</div>

        </header>

        {{{body}}}

    </body>

</html>