<!DOCTYPE html>
<html>

    <head>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" media="screen">

    </head>

    <body>

        <header class="topBar">

            <div class="titleBar"><i class="fas fa-book"></i> Beaver Books </div>

            <nav class="navBar">
                <ul class="navlist">
                  <li class="navItem navLink"><a href ="/">Home</a></li>
                  <li class="navItem navLink"><a href ="/requests">Requests</a></li>
                  <li class="navItem navLink"><a href ="#">My Listings</a></li>
                  <li class="navItem navLink"><a href ="#">My Requests</a></li>
                  <li class="navItem navLink"><a href ="#">About</a></li>
                  <li class="navSearch">
                    <span class="navSort">
                      <span class="sortItem">Sort By: </span>
                      <span class="navItem sortItem">Title </span>
                      <span class="navItem sortItem">Class </span>
                      <span class="navItem sortItem">Price </span>
                    </span>
                    <input type="text" placeholder="Search...">
                    <button type="button" class="navButton searchBooks"><i class="fas fa-search"></i></button>
                  </li>
                </ul>

            </nav>

        </header>

        {{{body}}}

    </body>

</html>
