<h1>Listings</h1>

<div class="listingsContainer">

    {{#each listings}}
        {{> listing}}
    {{/each}}

</div>

<button type="button" id="create-listing-button"><li class="fas fa-book"></i></button>
