<div class="pageHeader">

  <span class="pageTitle">{{pageTitle}}</span>

  {{#if logged_in}}
  <span class="loginBox">
    <span class="loginMessage">Welcome, {{user}}!</span>
    <button type="button" id="logoutButton"><li class="fas fa-power-off"></i></button>
  </span>
  <script>var username = "{{user}}"</script>
  <script src="/navLinks.js" charset="utf-8" defer></script>
  {{/if}}

  {{#unless logged_in}}
    <script src="/unloggedNavLinks.js" charset="utf-8" defer></script>
    <span class="loginBox">
      <div>
        <span class="loginMessage">Please Login</span>
        <button type="button" id="loginButton"><li class="fa fa-user-circle"></i></button>
      </div>
      <div>
        <span class="loginMessage">Or Create An Account</span>
        <button type="button" id="createAccountButton"><li class="fa fa-id-badge"></i></button>
      </div>
    </span>

    <!-- Adapted modal from assignment 3 -->
    <div id="login-modal-backdrop" class="hidden"></div>
    <div id="login-modal" class="hidden">
      <div class="login-modal-dialog">

        <div class="login-modal-header">
          <h3>Login</h3>
          <button type="button" class="login-modal-close-button">&times;</button>
        </div>

        <div class="login-modal-body">
          <div class="login-input-element">
            <label for="login-username-input">Username</label>
            <input id="login-username-input"></input>
          </div>
          <div class="login-input-element">
            <label for="login-password-input">Password</label>
            <input type="text" id="login-password-input">
          </div>
        </div>

        <div class="login-modal-footer">
          <button type="button" class="login-modal-cancel-button">Cancel</button>
          <button type="button" class="login-modal-accept-button">Login</button>
        </div>

      </div>
    </div>

    <!-- Create Account Modal -->
    <div id="create-account-modal-backdrop" class="hidden"></div>
    <div id="create-account-modal" class="hidden">
      <div class="create-account-modal-dialog">

        <div class="create-account-modal-header">
          <h3>Create an Account</h3>
          <button type="button" class="create-account-modal-close-button">&times;</button>
        </div>

        <div class="create-account-modal-body">
          <div class="create-account-input-element">
            <label for="create-account-username-input">Username</label>
            <input id="create-account-username-input"></input>
          </div>
          <div class="create-account-input-element">
            <label for="create-account-password-input">Password</label>
            <input type="text" id="create-account-password-input">
          </div>
        </div>

        <div class="create-account-modal-footer">
          <button type="button" class="create-account-modal-cancel-button">Cancel</button>
          <button type="button" class="create-account-modal-accept-button">Create Account</button>
        </div>

      </div>
    </div>
  {{/unless}}
</div>

{{#if aboutPage}}
  <div class="aboutContainer">
    <p>This site allows students to buy and sell used textbooks.</p>
  </div>
{{/if}}

{{#if createPostPage}}
  <div class="create-post-buttons-container">
    <button type="button" class="listing-button create-post-button">Listing</button>
    <button type="button" class="request-button create-post-button">Request</button>
  </div>

  <div class="create-listing-container create-post-container">
    <div class="create-post-title">Listing</div>
    <div class="input-section">
      <span class="input-title">Book Title: </span><input type="text" id="listing-title-input">
    </div>
    <div class="input-section">
      <span class="input-title">Class: </span><input type="text" id="listing-class-input">
    </div>
    <div class="input-section">
      <span class="input-title">Condition: </span><input type="text" id="listing-condition-input">
    </div>
    <div class="input-section">
      <span class="input-title">Price: </span><input type="text" id="listing-price-input">
    </div>
    <div class="input-section">
      <span class="input-title">Contact: </span><input type="text" id="listing-contact-input">
    </div>
    <div class="input-section">
      <span class="input-title">Book Image URL: </span><input type="text" id="listing-url-input">
    </div>
    <button type="button" class="create-listing-button">Create Listing</button>
  </div>

  <div class="create-request-container create-post-container hidden">
    <div class="create-post-title">Request</div>
    <div class="input-section">
      <span class="input-title">Book Title: </span><input type="text" id="request-title-input">
    </div>
    <div class="input-section">
      <span class="input-title">Class: </span><input type="text" id="request-class-input">
    </div>
    <div class="input-section">
      <span class="input-title">Contact: </span><input type="text" id="request-contact-input">
    </div>
    <div class="input-section">
      <span class="input-title">Book Image URL: </span><input type="text" id="request-url-input">
    </div>
    <button type="button" class="create-request-button">Create Request</button>
  </div>
{{/if}}

<div class="listingsContainer">

    {{#each listings}}
        {{> listing}}
    {{/each}}

</div>
