<h1>Requests</h1>

<div class="requestsContainer">

    {{#each requests}}
        {{> request}}
    {{/each}}

</div>

<button type="button" id="create-request-button"><li class="fas fa-book"></i></button>
