* {

  margin: 0;
  padding: 0;

}

body {

    margin: 0px;
    background-color: white;
    font-family: 'Roboto', 'sans-serif';

}

a {

    text-decoration: none;
    color: white;

}

h1 {

  padding-left: 20px;
  padding-top: 10px;

}

p {

  padding-left: 20px;
  padding-top: 10px;

}

.titleBar {

    padding: 15px;
    background-color: #5D6D7E;
    font-size: 50px;
    font-weight: bold;
    color: darkorange;

}

.navBar {

    padding: 5px;
    background-color: #2E373F;
    color: white;
    position: sticky;

}

.navItem {

    display: inline-block;

}

.navLink {

  padding: 10px;

}

.navSort {

  padding-right: 50px;

}

.sortItem {

  padding: 1px 6px;

}

.navSearch {

  float: right;
  padding: 10px;
  display: inline-block;

}

.navButton {

    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    float: right;
    padding: 5px;

}

.listingsContainer {

    padding: 5px;
    display: flex;

}

.bookListing {

    margin: 10px;
    padding: 5px;
    background-color: #5D6D7E;
    display: flex;
    flex: 0 1 23%;
    border-radius: 10px;

}

.listing-icon {

  font-size: 30px;
  padding-right: 10px;

}

.listing-text {

  background-color: #00aed8;
  border-radius: 3px;

}

.content-text {

  padding: 5px;

}

.book-img {

  height: 250px;
  padding: 20px;

}

.requestsContainer {

    padding: 5px;
    display: flex;

}

.bookRequest {

  margin: 10px;
  padding: 5px;
  background-color: #f8850e;
  display: flex;
  flex: 0 1 23%;
  border-radius: 10px;

}

#create-listing-button {

  position: fixed;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  background-color: darkorange;
  border: 2px solid black;

}

#create-request-button {

  position: fixed;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  background-color: darkorange;
  border: 2px solid black;

}

.navItem:hover,
a:hover {

  color: darkorange;
  cursor: pointer;

}

button:hover {

  color: red;
  cursor: pointer;

}
