* {

  margin: 0;
  padding: 0;

}

body {

    margin: 0px;
    background-color: white;
    font-family: 'Roboto', 'sans-serif';

}

a {

    text-decoration: none;
    color: white;

}

p {

  padding-left: 20px;
  padding-top: 10px;

}

.pageHeader {

  padding-left: 20px;
  padding-top: 10px;

}

.pageTitle {

  font-size: 30px;
  font-weight: 500;

}

.loginMessage {

  font-size: 15px;
  font-weight: 300;
  padding-right: 10px;

}

.loginBox {

  float: right;
  padding-right: 20px;

}

#loginButton {

  font-size: 20px;
  border-radius: 20px;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  background-color: darkorange;

}

.titleBar {

    padding: 15px;
    background-color: #5D6D7E;
    font-size: 50px;
    font-weight: bold;
    color: darkorange;

}

.navBar {

    padding: 5px;
    background-color: #2E373F;
    color: white;
    position: sticky;

}

.navItem {

    display: inline-block;

}

.navLink {

  padding: 10px;

}

.navSort {

  padding-right: 50px;

}

.sortItem {

  padding: 1px 6px;

}

.navSearch {

  float: right;
  padding: 10px;
  display: inline-block;

}

.navButton {

    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 5px;

}

.searchBooks {

  float: right;

}

.listingsContainer {

    padding: 5px;
    display: flex;

}

.bookListing {

    margin: 10px;
    padding: 5px;
    background-color: #5D6D7E;
    display: flex;
    flex: 0 1 23%;
    border-radius: 10px;

}

.listing-icon {

  font-size: 30px;
  padding-right: 10px;

}

.listing-text {

  background-color: #00aed8;
  border-radius: 3px;

}

.content-text {

  padding: 5px;

}

.book-img {

  height: 250px;
  padding: 20px;

}

.requestsContainer {

    padding: 5px;
    display: flex;

}

.bookRequest {

  margin: 10px;
  padding: 5px;
  background-color: #f8850e;
  display: flex;
  flex: 0 1 23%;
  border-radius: 10px;

}

#create-listing-button {

  position: fixed;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  background-color: darkorange;
  border: 2px solid black;

}

#create-request-button {

  position: fixed;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  background-color: darkorange;
  border: 2px solid black;

}

.navItem:hover,
a:hover {

  color: darkorange;
  cursor: pointer;

}

button:hover {

  color: red;
  cursor: pointer;

}

button:focus,
input:focus {

  outline: none;

}

.create-post-buttons-container {

  margin: 10px 100px;

}

.create-post-button {

  margin: 15px;
  padding: 3px;
  font-size: 20px;
  background-color: darkorange;
  border-radius: 5px;
  border: 2px solid black;

}

.create-post-container {

  padding: 20px;
  margin-left: 30px;
  background-color: #2E373F;
  border-radius: 10px;
  display: inline-block;

}

.input-section {

  margin: 20px;

}

.input-title {

  margin-right: 20px;
  color: white;

}

.create-listing-button {

  float: right;
  background-color: darkorange;
  padding: 2px;
  border: 2px solid gray;

}

.create-request-button {

  float: right;
  background-color: darkorange;
  padding: 2px;
  border: 2px solid gray;

}

.create-post-title {

  margin-left: 50px;
  color: white;
  font-size: 20px;

}

/* Adapted modal styling from assignment 3 */
#login-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#login-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.login-modal-dialog {
  width: auto;
  max-width: 400px;
  min-width: 300px;
  min-height: 100px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.login-modal-header {
  position: relative;
  padding: 10px 20px;
}

.login-modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.login-modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.login-modal-body {
  padding: 20px;
}

.login-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.login-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.login-input-element input,
.login-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.login-input-element textarea {
  min-height: 64px;
}

.login-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.login-modal-footer button {
  font-size: 15px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.login-modal-footer .login-modal-cancel-button:hover {
  background-color: #eee;
}

.login-modal-footer .login-modal-accept-button {
  background-color: darkorange;
  color: #fff;
}

.login-modal-footer .login-modal-accept-button:hover {
  background-color: orange;
}
