body {

    margin: 0px;
    background-color: white;
    font-family: 'Roboto', 'sans-serif';

}

a {

    text-decoration: none;
    color: white;

}

.titleBar {

    padding: 15px;
    background-color: #5D6D7E;
    font-size: 50px;
    font-weight: bold;
    color: white;

}

.navBar {

    padding: 5px;
    background-color: #2E373F;
    color: white;
    position: sticky;

}

.navItem {

    display: inline-block;

}

.navButton {

    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;

}

.listingsContainer {

    padding: 5px;
    display: flexbox;

}

.bookListing {

    margin: 10px;
    padding: 5px;
    background-color: lightgray;

}